{% include base_path %}

<!-- start custom head snippets -->

<meta name="theme-color" content="#ffffff">

<meta name="og:title" content="Data Science|Informatics"/>
<meta name="description" content="Internet home of Angela Baltes. Data Scientist. Data Storyteller. Biomedical Informatics PhD candidate.">
<meta name="image" property="og:image" content="https://github.com/angelabaltes/angelabaltes.github.io/blob/master/images/Photo.png?raw=true">
<meta name="author" content="Angela Baltes">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico"
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<script type="application/ld+json"> 
{ 
"@context": "http://schema.org",
"@type": "Person",
"name": "Angela Baltes",
"honorificSuffix": "PhD",
"nationality": "United States",
"url": "https://angelabaltes.com",
"sameAs" : [
"http://github.com/angelabaltes"] 
} </script>

<!-- end custom head snippets -->
